body{
    font-family: sans-serif,'Times New Roman', Times, serif;
}
.banner-container{
background-color: rgb(52, 59, 97);

}
.banner-column{
background-color: rgb(168, 125, 150);
border: 1p solid white;

}
.navber-container{
position: sticky;


}
.about-container{
background-color: rgb(173, 199, 204);
padding: 2rem;



}

.education-container{
  background-color: aquamarine;
  padding: 4rem;
}
.circle{
  border-radius: 50%;
  background-color: red;
  height: 125px;
  width: 125px;
  padding: 5px;
  text-align: center;
  



}
.card{
padding-left: 2rem;



}
.protfolio-container{
background-color: darkcyan;



}
.contacts-form{
background-color: dimgray; 
margin: auto;



}
.inner-form{
  background-color: rgb(94, 78, 54)
}
.button{
background-color: red;
}
.button:hover{
  background-color: yellow;

}
.footer-container{
  background-color: thistle;
}
.circle-footer{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  font-size: 35px;
  text-align: center;
  color: blue;
}
.circle-footer:hover{
  background-color: black;
}
.in{
  color: white;
}